<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequatur autem error sit
                    voluptates fugiat, neque, molestias voluptas non architecto inventore deleniti ullam, modi
                    perspiciatis cupiditate maiores eius tempore ipsa.</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle"
                    src="../assets/img/1.jpg">
            </div>
        </div>
    </div>
</div>